PANEL_EDITION=easy
PANEL_CONTAINER=3wg-easy-core
PANEL_USER=admin
PANEL_PASSWORD=
SESSION_SECRET=
PANEL_HOST=
ENDPOINT_HOST=
VPN_ENDPOINT_HOST=
WG_CONTAINER=easy-wireguard
WG_INTERFACE=wg0
WG_CONFIG_PATH=/opt/amnezia/wireguard/wg0.conf
WG_PORT=51820
WG_NETWORK=10.49.0.0/24
AWG_CONTAINER=easy-amneziawg
AWG_INTERFACE=awg0
AWG_CONFIG_PATH=/opt/amnezia/awg/awg0.conf
AWG_PORT=4500
AWG_NETWORK=10.50.0.0/24
DNS_SERVERS=1.1.1.1,1.0.0.1
METRICS_REQUIRE_TOKEN=1
UPDATE_RUNNER_ENABLED=0
MIGRATION_RUNNER_ENABLED=0
